html, body{
    margin: 0;
}

.container {
	margin-top: 5px;
	display: flex;
	justify-content: left: auto;
}

.button {
	border-radius: 10px;
	margin: 20px;
	height: 40px;
	width: 50px;
	background-color: green;
}

.block {
	display: block;
	margin: 20px;

	text-align: left;
}

span {
	display: block;
}

#inputNum {
	margin-top: 5px;
	width: 90px;
}

ul {
	list-style:none;
	margin:0;
	padding:0
}
